#main-body {
	text-align: center;
	height: 300px;
}

.active-button {
	opacity: 0.75;
}

.active-button:hover {
	background-color: #FFFAFA;
}

.arrow {
	height: 200px; 
	width: 120px;  
	padding-bottom: 30px;
	padding-top: 30px;
}

.block {
	display: inline-block;
}

.bloсk-of-day {
	text-align: center;
	background-color: white;
}

.date-of-day {
	font-size: 1.5em;
}

.disabled-button {
	opacity: 0.5;
}

.icon {
	height: 70px;
	width: 70px;
}

.temperature-day {
	font-size: 1.2em;
}

.temperature-night {
	font-size: 0.8em;
}

.temperature-today {
	font-size: 2em;
}

.weather {
	font-size: 1.3em;
}

.wind {
	font-size: 0.75em;
}

button {
	background-color: transparent; 
	border: none;
	cursor: pointer;
}

button:active, button:focus {
  outline: none;
}

li {
	list-style: none;
}

td {
	padding: 5px 10px;
}

ul {
	padding: 10px;
}